<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>Hi, I'm Jackson Socolofsky! I'm from Oregon in the USA, and I live in Japan. My hobbies include reading, writing, and hiking through Japan's wonderful nature. I'm also partial to DnD if ever given the chance to play. This portfolio is where you can find some projects I've worked on. Right now Ruby is my main language, and these projects will all be Ruby on the backend.</p>
      </div>
    </div>
  </div>
</div>
