<div class="sidenav">
  <button class="btn btn-primary m-3" id="about-btn">
    About
  </button>
  <button class="btn btn-primary m-3" id="presentation-btn">
    Presentation
  </button>
  <button class="btn btn-primary m-3" id="project-btn">
    Projects
  </button>
</div>
