<div class="sidenav">
  <div class="d-flex mb-3 mt-3">
    <button class="btn btn-primary" id="about-btn">
      About
    </button>
  </div>
  <div class="d-flex mb-3 mt-3">
    <button class="btn btn-primary" id="presentation-btn">
      Presentation
    </button>
  </div>
  <div class="d-flex mb-3 mt-3">
    <button class="btn btn-primary" id="project-btn">
      Projects
    </button>
  </div>
</div>
