.display-project {
  max-width: 600px;
  position: absolute;
  height: 392px;
  object-fit: cover;
  transition: 1s;

}

.hidden-image {
  opacity: 0;
}
.no-display {
  display: none;
}

@media (min-width: 576px) {
  .display-project {
    max-width: 400px;
    object-fit: contain;
  }
}

@media (min-width: 1200px) {
  .display-project {
    max-width: 600px;
  }
}

.project-visible {
  opacity: 1;
}
