.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


/* The sidebar menu */
.sidenav {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 8px;
  overflow-x: hidden; /* Disable horizontal scroll */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.side-btn {
  border-radius: 100%;
  padding: 8px;
  width: 16px;
  height: 16px;
  background-color: navy;
}

.hidden-text {
  opacity: 0;
  margin-left: 8px;
  transition: .5s;
}

.section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
