<div class="container">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <div class="w-100 d-flex align-items-center justify-content-center embed-responsive embed-responsive-16by9" style="height: 100vh">
    <iframe src='https://www.youtube.com/embed/7BLSmf31Wmw?rel=0&autoplay=0' frameborder='0' allowfullscreen class="embed-responsive-item" height="450" width="800"></iframe>
  </div>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
