---
name: Simple JMDict API
description: An api built using jmdict, with a simple front-end too.
image: jmdict_api/api_key_gif_two.gif
url: /jmdictApi.html
github: https://github.com/Jtsoco/japanese_english_dictionary
---
<div class="container">
  <div class="d-flex text-center flex-column align-items-center justify-content-center">
    <h3 class="mt-3">JMDict Api</h3>
    <p class="w-50"> Just a simple api of the JMDict for use in personal projects. Made using Lockbox and Blind Index gems to allow for encrypted api keys that users can access. Made for practice making a secure api that can distribute api keys, and also for personal projects planned. </p>
    <%= partial "partials/project_links" %>
  </div>
  <div class="row mt-3 shadow p-3 mb-5 bg-white rounded">
    <%= image_tag 'jmdict_api/api_key_gif_two.gif', alt: 'gif showing a curl request from mac to the api', class: 'col-6' %>
    <%= image_tag 'jmdict_api/frontend_search.gif', alt: 'gif showing a curl request from mac to the api', class: 'col-6' %>
  </div>
</div>
